.formContainer {
  flex: 1;
  text-align: center;
}

.loginForm {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

hr {
  border: solid 1px grey;
  width: 100%;
}

.createAccountBtn {
  width: 50%;
}

.btnContainer {
  display: flex;
  justify-content: center;
}
